@{
    ViewBag.Title = "Inicio";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Bloque central -->
<div class="welcome-wrapper">
    <h1>¡Bienvenido al Sistema de Compras!</h1>
    <p>Use el menú superior para navegar entre las secciones.</p>
</div>